body {
    padding: 10px;
}

header {
    background-color: #366699;
    color: #fff;
}
h2 {
     font-size: 16px;
}
h3 {
    font-size: 14px;
}

.col {
    padding: 5px;
    border: 1px solid #ccc;
}

#goal-message {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
}